In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np
import click
from src.features.feature_class import FeatureEngineering
from src.features.utils import read_processed_data
import logging
import json
from tqdm import tqdm
from src.features.build_features import _read_feature_meta


import os

In [2]:
os.chdir('..')

In [3]:
df_bitcoin, df, df_test = read_processed_data()

2019-12-03 15:16:09,459 - src.features.utils - INFO - Shape of df_bitcoin: (2355, 1)
2019-12-03 15:16:09,460 - src.features.utils - INFO - Shape of df: (4757, 92)

In [22]:
fe = FeatureEngineering(df, df_bitcoin, df_test)
feature_set = _read_feature_meta()
value = feature_set['na_less_20_impute_upsample_50']
fe.construct_feature_set(value)

2019-12-03 15:41:39,262 - src.features.feature_class - DEBUG - Transform numerical variable for column KW1
2019-12-03 15:41:39,263 - src.features.feature_class - DEBUG - Start filling NA values in KW1 with strategy impute
2019-12-03 15:41:39,268 - src.features.feature_class - DEBUG - Found 0 NA values in column KW1
2019-12-03 15:41:39,270 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,281 - src.features.feature_class - DEBUG - Transform numerical variable for column KW2
2019-12-03 15:41:39,283 - src.features.feature_class - DEBUG - Start filling NA values in KW2 with strategy impute
2019-12-03 15:41:39,287 - src.features.feature_class - DEBUG - Found 0 NA values in column KW2
2019-12-03 15:41:39,288 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,304 - src.features.feature_class - DEBUG - Transform numerical variable for column KW3
2019-12-03 15:41:39,306 - src.features.feature_class - DEBUG - Start filling NA values in KW3 with strategy impute
2019-12-03 15:41:39,315 - src.features.feature_class - DEBUG - Found 0 NA values in column KW3
2019-12-03 15:41:39,318 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,343 - src.features.feature_class - DEBUG - Transform numerical variable for column KW4
2019-12-03 15:41:39,346 - src.features.feature_class - DEBUG - Start filling NA values in KW4 with strategy impute
2019-12-03 15:41:39,357 - src.features.feature_class - DEBUG - Found 0 NA values in column KW4
2019-12-03 15:41:39,364 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,390 - src.features.feature_class - DEBUG - Transform numerical variable for column KW5
2019-12-03 15:41:39,391 - src.features.feature_class - DEBUG - Start filling NA values in KW5 with strategy impute
2019-12-03 15:41:39,402 - src.features.feature_class - DEBUG - Found 0 NA values in column KW5
2019-12-03 15:41:39,407 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,435 - src.features.feature_class - DEBUG - Transform numerical variable for column KW6
2019-12-03 15:41:39,438 - src.features.feature_class - DEBUG - Start filling NA values in KW6 with strategy impute
2019-12-03 15:41:39,449 - src.features.feature_class - DEBUG - Found 0 NA values in column KW6
2019-12-03 15:41:39,456 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,479 - src.features.feature_class - DEBUG - Transform numerical variable for column KW7
2019-12-03 15:41:39,480 - src.features.feature_class - DEBUG - Start filling NA values in KW7 with strategy impute
2019-12-03 15:41:39,488 - src.features.feature_class - DEBUG - Found 0 NA values in column KW7
2019-12-03 15:41:39,491 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,521 - src.features.feature_class - DEBUG - Transform numerical variable for column KW8
2019-12-03 15:41:39,523 - src.features.feature_class - DEBUG - Start filling NA values in KW8 with strategy impute
2019-12-03 15:41:39,537 - src.features.feature_class - DEBUG - Found 0 NA values in column KW8
2019-12-03 15:41:39,541 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,565 - src.features.feature_class - DEBUG - Transform numerical variable for column KW9
2019-12-03 15:41:39,568 - src.features.feature_class - DEBUG - Start filling NA values in KW9 with strategy impute
2019-12-03 15:41:39,578 - src.features.feature_class - DEBUG - Found 0 NA values in column KW9
2019-12-03 15:41:39,585 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,611 - src.features.feature_class - DEBUG - Transform numerical variable for column KW10
2019-12-03 15:41:39,613 - src.features.feature_class - DEBUG - Start filling NA values in KW10 with strategy impute
2019-12-03 15:41:39,621 - src.features.feature_class - DEBUG - Found 0 NA values in column KW10
2019-12-03 15:41:39,624 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,657 - src.features.feature_class - DEBUG - Transform numerical variable for column KW11
2019-12-03 15:41:39,659 - src.features.feature_class - DEBUG - Start filling NA values in KW11 with strategy impute
2019-12-03 15:41:39,664 - src.features.feature_class - DEBUG - Found 0 NA values in column KW11
2019-12-03 15:41:39,666 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,697 - src.features.feature_class - DEBUG - Transform numerical variable for column KW12
2019-12-03 15:41:39,699 - src.features.feature_class - DEBUG - Start filling NA values in KW12 with strategy impute
2019-12-03 15:41:39,713 - src.features.feature_class - DEBUG - Found 0 NA values in column KW12
2019-12-03 15:41:39,720 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,752 - src.features.feature_class - DEBUG - Transform numerical variable for column KW13
2019-12-03 15:41:39,755 - src.features.feature_class - DEBUG - Start filling NA values in KW13 with strategy impute
2019-12-03 15:41:39,764 - src.features.feature_class - DEBUG - Found 0 NA values in column KW13
2019-12-03 15:41:39,772 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,804 - src.features.feature_class - DEBUG - Transform numerical variable for column KW14
2019-12-03 15:41:39,806 - src.features.feature_class - DEBUG - Start filling NA values in KW14 with strategy impute
2019-12-03 15:41:39,816 - src.features.feature_class - DEBUG - Found 0 NA values in column KW14
2019-12-03 15:41:39,823 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,854 - src.features.feature_class - DEBUG - Transform numerical variable for column KW15
2019-12-03 15:41:39,856 - src.features.feature_class - DEBUG - Start filling NA values in KW15 with strategy impute
2019-12-03 15:41:39,869 - src.features.feature_class - DEBUG - Found 0 NA values in column KW15
2019-12-03 15:41:39,873 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,909 - src.features.feature_class - DEBUG - Transform numerical variable for column KW16
2019-12-03 15:41:39,912 - src.features.feature_class - DEBUG - Start filling NA values in KW16 with strategy impute
2019-12-03 15:41:39,925 - src.features.feature_class - DEBUG - Found 0 NA values in column KW16
2019-12-03 15:41:39,932 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:39,970 - src.features.feature_class - DEBUG - Transform numerical variable for column KW17
2019-12-03 15:41:39,974 - src.features.feature_class - DEBUG - Start filling NA values in KW17 with strategy impute
2019-12-03 15:41:39,986 - src.features.feature_class - DEBUG - Found 0 NA values in column KW17
2019-12-03 15:41:40,009 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,050 - src.features.feature_class - DEBUG - Transform numerical variable for column KW18
2019-12-03 15:41:40,056 - src.features.feature_class - DEBUG - Start filling NA values in KW18 with strategy impute
2019-12-03 15:41:40,063 - src.features.feature_class - DEBUG - Found 0 NA values in column KW18
2019-12-03 15:41:40,091 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,134 - src.features.feature_class - DEBUG - Transform numerical variable for column KW19
2019-12-03 15:41:40,141 - src.features.feature_class - DEBUG - Start filling NA values in KW19 with strategy impute
2019-12-03 15:41:40,163 - src.features.feature_class - DEBUG - Found 0 NA values in column KW19
2019-12-03 15:41:40,172 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,200 - src.features.feature_class - DEBUG - Transform numerical variable for column KW20
2019-12-03 15:41:40,204 - src.features.feature_class - DEBUG - Start filling NA values in KW20 with strategy impute
2019-12-03 15:41:40,209 - src.features.feature_class - DEBUG - Found 0 NA values in column KW20
2019-12-03 15:41:40,212 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,247 - src.features.feature_class - DEBUG - Transform numerical variable for column KW21
2019-12-03 15:41:40,249 - src.features.feature_class - DEBUG - Start filling NA values in KW21 with strategy impute

2019-12-03 15:41:40,258 - src.features.feature_class - DEBUG - Found 0 NA values in column KW21
2019-12-03 15:41:40,263 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,305 - src.features.feature_class - DEBUG - Transform numerical variable for column KW22
2019-12-03 15:41:40,307 - src.features.feature_class - DEBUG - Start filling NA values in KW22 with strategy impute
2019-12-03 15:41:40,320 - src.features.feature_class - DEBUG - Found 0 NA values in column KW22
2019-12-03 15:41:40,326 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,361 - src.features.feature_class - DEBUG - Transform numerical variable for column KW23
2019-12-03 15:41:40,363 - src.features.feature_class - DEBUG - Start filling NA values in KW23 with strategy impute
2019-12-03 15:41:40,372 - src.features.feature_class - DEBUG - Found 0 NA values in column KW23
2019-12-03 15:41:40,378 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,421 - src.features.feature_class - DEBUG - Transform numerical variable for column KW24
2019-12-03 15:41:40,424 - src.features.feature_class - DEBUG - Start filling NA values in KW24 with strategy impute
2019-12-03 15:41:40,437 - src.features.feature_class - DEBUG - Found 0 NA values in column KW24
2019-12-03 15:41:40,445 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,483 - src.features.feature_class - DEBUG - Transform numerical variable for column KW25
2019-12-03 15:41:40,485 - src.features.feature_class - DEBUG - Start filling NA values in KW25 with strategy impute
2019-12-03 15:41:40,496 - src.features.feature_class - DEBUG - Found 0 NA values in column KW25
2019-12-03 15:41:40,502 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,540 - src.features.feature_class - DEBUG - Transform numerical variable for column KW26
2019-12-03 15:41:40,542 - src.features.feature_class - DEBUG - Start filling NA values in KW26 with strategy impute
2019-12-03 15:41:40,554 - src.features.feature_class - DEBUG - Found 0 NA values in column KW26
2019-12-03 15:41:40,559 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,597 - src.features.feature_class - DEBUG - Transform numerical variable for column KW27
2019-12-03 15:41:40,599 - src.features.feature_class - DEBUG - Start filling NA values in KW27 with strategy impute
2019-12-03 15:41:40,609 - src.features.feature_class - DEBUG - Found 0 NA values in column KW27
2019-12-03 15:41:40,616 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,655 - src.features.feature_class - DEBUG - Transform numerical variable for column KW28
2019-12-03 15:41:40,658 - src.features.feature_class - DEBUG - Start filling NA values in KW28 with strategy impute
2019-12-03 15:41:40,666 - src.features.feature_class - DEBUG - Found 0 NA values in column KW28
2019-12-03 15:41:40,675 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,707 - src.features.feature_class - DEBUG - Transform numerical variable for column KW29
2019-12-03 15:41:40,708 - src.features.feature_class - DEBUG - Start filling NA values in KW29 with strategy impute
2019-12-03 15:41:40,713 - src.features.feature_class - DEBUG - Found 0 NA values in column KW29
2019-12-03 15:41:40,718 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,744 - src.features.feature_class - DEBUG - Transform numerical variable for column KW30
2019-12-03 15:41:40,745 - src.features.feature_class - DEBUG - Start filling NA values in KW30 with strategy impute
2019-12-03 15:41:40,751 - src.features.feature_class - DEBUG - Found 0 NA values in column KW30
2019-12-03 15:41:40,755 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,778 - src.features.feature_class - DEBUG - Transform numerical variable for column KW31
2019-12-03 15:41:40,779 - src.features.feature_class - DEBUG - Start filling NA values in KW31 with strategy impute
2019-12-03 15:41:40,787 - src.features.feature_class - DEBUG - Found 0 NA values in column KW31
2019-12-03 15:41:40,790 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,812 - src.features.feature_class - DEBUG - Transform numerical variable for column KW32
2019-12-03 15:41:40,813 - src.features.feature_class - DEBUG - Start filling NA values in KW32 with strategy impute
2019-12-03 15:41:40,820 - src.features.feature_class - DEBUG - Found 0 NA values in column KW32
2019-12-03 15:41:40,824 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,847 - src.features.feature_class - DEBUG - Transform numerical variable for column KW33
2019-12-03 15:41:40,848 - src.features.feature_class - DEBUG - Start filling NA values in KW33 with strategy impute
2019-12-03 15:41:40,855 - src.features.feature_class - DEBUG - Found 0 NA values in column KW33
2019-12-03 15:41:40,857 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,879 - src.features.feature_class - DEBUG - Transform numerical variable for column KW34
2019-12-03 15:41:40,880 - src.features.feature_class - DEBUG - Start filling NA values in KW34 with strategy impute
2019-12-03 15:41:40,888 - src.features.feature_class - DEBUG - Found 0 NA values in column KW34
2019-12-03 15:41:40,890 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,918 - src.features.feature_class - DEBUG - Transform numerical variable for column KW35
2019-12-03 15:41:40,920 - src.features.feature_class - DEBUG - Start filling NA values in KW35 with strategy impute
2019-12-03 15:41:40,924 - src.features.feature_class - DEBUG - Found 0 NA values in column KW35
2019-12-03 15:41:40,928 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,955 - src.features.feature_class - DEBUG - Transform numerical variable for column KW36
2019-12-03 15:41:40,956 - src.features.feature_class - DEBUG - Start filling NA values in KW36 with strategy impute
2019-12-03 15:41:40,960 - src.features.feature_class - DEBUG - Found 0 NA values in column KW36
2019-12-03 15:41:40,962 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:40,985 - src.features.feature_class - DEBUG - Transform numerical variable for column KW37
2019-12-03 15:41:40,987 - src.features.feature_class - DEBUG - Start filling NA values in KW37 with strategy impute
2019-12-03 15:41:40,991 - src.features.feature_class - DEBUG - Found 0 NA values in column KW37
2019-12-03 15:41:40,994 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,022 - src.features.feature_class - DEBUG - Transform numerical variable for column KW38
2019-12-03 15:41:41,023 - src.features.feature_class - DEBUG - Start filling NA values in KW38 with strategy impute
2019-12-03 15:41:41,028 - src.features.feature_class - DEBUG - Found 0 NA values in column KW38
2019-12-03 15:41:41,031 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,062 - src.features.feature_class - DEBUG - Transform numerical variable for column KW39
2019-12-03 15:41:41,063 - src.features.feature_class - DEBUG - Start filling NA values in KW39 with strategy impute
2019-12-03 15:41:41,069 - src.features.feature_class - DEBUG - Found 0 NA values in column KW39
2019-12-03 15:41:41,072 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,097 - src.features.feature_class - DEBUG - Transform numerical variable for column community_data_reddit_accounts_active_48h
2019-12-03 15:41:41,098 - src.features.feature_class - DEBUG - Start filling NA values in community_data_reddit_accounts_active_48h with strategy impute
2019-12-03 15:41:41,106 - src.features.feature_class - DEBUG - Found 1 NA values in column community_data_reddit_accounts_active_48h
2019-12-03 15:41:41,108 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,132 - src.features.feature_class - DEBUG - Transform numerical variable for column community_data_reddit_average_comments_48h
2019-12-03 15:41:41,133 - src.features.feature_class - DEBUG - Start filling NA values in community_data_reddit_average_comments_48h with strategy impute
2019-12-03 15:41:41,139 - src.features.feature_class - DEBUG - Found 1 NA values in column community_data_reddit_average_comments_48h

2019-12-03 15:41:41,141 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,166 - src.features.feature_class - DEBUG - Transform numerical variable for column community_data_reddit_average_posts_48h
2019-12-03 15:41:41,169 - src.features.feature_class - DEBUG - Start filling NA values in community_data_reddit_average_posts_48h with strategy impute
2019-12-03 15:41:41,173 - src.features.feature_class - DEBUG - Found 1 NA values in column community_data_reddit_average_posts_48h
2019-12-03 15:41:41,175 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,198 - src.features.feature_class - DEBUG - Transform numerical variable for column community_data_reddit_subscribers
2019-12-03 15:41:41,200 - src.features.feature_class - DEBUG - Start filling NA values in community_data_reddit_subscribers with strategy impute
2019-12-03 15:41:41,204 - src.features.feature_class - DEBUG - Found 1 NA values in column community_data_reddit_subscribers
2019-12-03 15:41:41,207 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,227 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_forks
2019-12-03 15:41:41,228 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_forks with strategy impute
2019-12-03 15:41:41,232 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_forks
2019-12-03 15:41:41,236 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,259 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_stars
2019-12-03 15:41:41,261 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_stars with strategy impute
2019-12-03 15:41:41,265 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_stars
2019-12-03 15:41:41,268 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,295 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_subscribers
2019-12-03 15:41:41,296 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_subscribers with strategy impute
2019-12-03 15:41:41,301 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_subscribers
2019-12-03 15:41:41,304 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,331 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_closed_issues
2019-12-03 15:41:41,332 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_closed_issues with strategy impute
2019-12-03 15:41:41,337 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_closed_issues
2019-12-03 15:41:41,339 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,360 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_pull_requests_merged
2019-12-03 15:41:41,361 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_pull_requests_merged with strategy impute
2019-12-03 15:41:41,365 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_pull_requests_merged
2019-12-03 15:41:41,369 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,393 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_total_issues
2019-12-03 15:41:41,394 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_total_issues with strategy impute
2019-12-03 15:41:41,398 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_total_issues
2019-12-03 15:41:41,402 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,429 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_commit_count_4_weeks
2019-12-03 15:41:41,430 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_commit_count_4_weeks with strategy impute
2019-12-03 15:41:41,436 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_commit_count_4_weeks
2019-12-03 15:41:41,439 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,470 - src.features.feature_class - DEBUG - Transform numerical variable for column developer_data_pull_request_contributors
2019-12-03 15:41:41,471 - src.features.feature_class - DEBUG - Start filling NA values in developer_data_pull_request_contributors with strategy impute
2019-12-03 15:41:41,475 - src.features.feature_class - DEBUG - Found 2 NA values in column developer_data_pull_request_contributors
2019-12-03 15:41:41,477 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,502 - src.features.feature_class - DEBUG - Transform numerical variable for column public_interest_stats_bing_matches
2019-12-03 15:41:41,503 - src.features.feature_class - DEBUG - Start filling NA values in public_interest_stats_bing_matches with strategy impute
2019-12-03 15:41:41,506 - src.features.feature_class - DEBUG - Found 4 NA values in column public_interest_stats_bing_matches
2019-12-03 15:41:41,509 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,532 - src.features.feature_class - DEBUG - Transform numerical variable for column public_interest_stats_alexa_rank
2019-12-03 15:41:41,534 - src.features.feature_class - DEBUG - Start filling NA values in public_interest_stats_alexa_rank with strategy impute
2019-12-03 15:41:41,538 - src.features.feature_class - DEBUG - Found 4 NA values in column public_interest_stats_alexa_rank
2019-12-03 15:41:41,540 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,564 - src.features.feature_class - DEBUG - Transform numerical variable for column community_data_facebook_likes
2019-12-03 15:41:41,565 - src.features.feature_class - DEBUG - Start filling NA values in community_data_facebook_likes with strategy impute
2019-12-03 15:41:41,569 - src.features.feature_class - DEBUG - Found 4 NA values in column community_data_facebook_likes
2019-12-03 15:41:41,572 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,598 - src.features.feature_class - DEBUG - Transform numerical variable for column community_data_twitter_followers
2019-12-03 15:41:41,601 - src.features.feature_class - DEBUG - Start filling NA values in community_data_twitter_followers with strategy impute
2019-12-03 15:41:41,605 - src.features.feature_class - DEBUG - Found 4 NA values in column community_data_twitter_followers
2019-12-03 15:41:41,607 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,640 - src.features.feature_class - DEBUG - Transform numerical variable for column market_data_circulating_supply
2019-12-03 15:41:41,641 - src.features.feature_class - DEBUG - Start filling NA values in market_data_circulating_supply with strategy impute
2019-12-03 15:41:41,646 - src.features.feature_class - DEBUG - Found 47 NA values in column market_data_circulating_supply
2019-12-03 15:41:41,649 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,686 - src.features.feature_class - DEBUG - Transform numerical variable for column market_data_current_price_usd
2019-12-03 15:41:41,687 - src.features.feature_class - DEBUG - Start filling NA values in market_data_current_price_usd with strategy impute
2019-12-03 15:41:41,692 - src.features.feature_class - DEBUG - Found 48 NA values in column market_data_current_price_usd
2019-12-03 15:41:41,695 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,731 - src.features.feature_class - DEBUG - Transform numerical variable for column market_data_ath_usd
2019-12-03 15:41:41,732 - src.features.feature_class - DEBUG - Start filling NA values in market_data_ath_usd with strategy impute
2019-12-03 15:41:41,739 - src.features.feature_class - DEBUG - Found 48 NA values in column market_data_ath_usd
2019-12-03 15:41:41,741 - src.features.feature_class - DEBUG - Filled NA values

2019-12-03 15:41:41,771 - src.features.feature_class - DEBUG - Transform binary variable for column links_homepage
2019-12-03 15:41:41,772 - src.features.feature_class - DEBUG - Start filling NA values in links_homepage with strategy set:0
2019-12-03 15:41:41,778 - src.features.feature_class - DEBUG - Found 61 NA values in column links_homepage
2019-12-03 15:41:41,784 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,826 - src.features.feature_class - DEBUG - Transform numerical variable for column market_data_low_24h_usd
2019-12-03 15:41:41,827 - src.features.feature_class - DEBUG - Start filling NA values in market_data_low_24h_usd with strategy impute
2019-12-03 15:41:41,832 - src.features.feature_class - DEBUG - Found 166 NA values in column market_data_low_24h_usd
2019-12-03 15:41:41,836 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,869 - src.features.feature_class - DEBUG - Transform numerical variable for column market_data_high_24h_usd
2019-12-03 15:41:41,870 - src.features.feature_class - DEBUG - Start filling NA values in market_data_high_24h_usd with strategy impute
2019-12-03 15:41:41,874 - src.features.feature_class - DEBUG - Found 166 NA values in column market_data_high_24h_usd
2019-12-03 15:41:41,877 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,918 - src.features.feature_class - DEBUG - Transform binary variable for column links_blockchain_site
2019-12-03 15:41:41,920 - src.features.feature_class - DEBUG - Start filling NA values in links_blockchain_site with strategy set:0
2019-12-03 15:41:41,925 - src.features.feature_class - DEBUG - Found 496 NA values in column links_blockchain_site
2019-12-03 15:41:41,931 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:41,972 - src.features.feature_class - DEBUG - Transform binary variable for column market_data_first_time_trading
2019-12-03 15:41:41,973 - src.features.feature_class - DEBUG - Start filling NA values in market_data_first_time_trading with strategy set:0
2019-12-03 15:41:41,978 - src.features.feature_class - DEBUG - Found 281 NA values in column market_data_first_time_trading
2019-12-03 15:41:41,984 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:42,026 - src.features.feature_class - DEBUG - Transform numerical variable for column market_data_total_supply
2019-12-03 15:41:42,028 - src.features.feature_class - DEBUG - Start filling NA values in market_data_total_supply with strategy impute
2019-12-03 15:41:42,033 - src.features.feature_class - DEBUG - Found 574 NA values in column market_data_total_supply
2019-12-03 15:41:42,036 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:42,072 - src.features.feature_class - DEBUG - Transform binary variable for column links_twitter_screen_name
2019-12-03 15:41:42,073 - src.features.feature_class - DEBUG - Start filling NA values in links_twitter_screen_name with strategy set:0
2019-12-03 15:41:42,078 - src.features.feature_class - DEBUG - Found 956 NA values in column links_twitter_screen_name
2019-12-03 15:41:42,083 - src.features.feature_class - DEBUG - Filled NA values
2019-12-03 15:41:42,128 - src.features.feature_class - DEBUG - Start impulating NA values
2019-12-03 15:41:42,129 - src.features.feature_class - DEBUG - Length of to_impute: 22
2019-12-03 15:41:42,961 - src.features.feature_class - DEBUG - Impute community_data_reddit_accounts_active_48h now
2019-12-03 15:41:42,962 - src.features.feature_class - DEBUG - community_data_reddit_accounts_active_48h has 1 empty entries
2019-12-03 15:41:42,979 - src.features.feature_class - DEBUG - Impute community_data_reddit_average_comments_48h now
2019-12-03 15:41:42,981 - src.features.feature_class - DEBUG - community_data_reddit_average_comments_48h has 1 empty entries
2019-12-03 15:41:42,997 - src.features.feature_class - DEBUG - Impute community_data_reddit_average_posts_48h now
2019-12-03 15:41:42,999 - src.features.feature_class - DEBUG - community_data_reddit_average_posts_48h has 1 empty entries
2019-12-03 15:41:43,015 - src.features.feature_class - DEBUG - Impute community_data_reddit_subscribers now
2019-12-03 15:41:43,017 - src.features.feature_class - DEBUG - community_data_reddit_subscribers has 1 empty entries
2019-12-03 15:41:43,033 - src.features.feature_class - DEBUG - Impute developer_data_forks now
2019-12-03 15:41:43,036 - src.features.feature_class - DEBUG - developer_data_forks has 2 empty entries
2019-12-03 15:41:43,053 - src.features.feature_class - DEBUG - Impute developer_data_stars now
2019-12-03 15:41:43,055 - src.features.feature_class - DEBUG - developer_data_stars has 2 empty entries
2019-12-03 15:41:43,071 - src.features.feature_class - DEBUG - Impute developer_data_subscribers now
2019-12-03 15:41:43,073 - src.features.feature_class - DEBUG - developer_data_subscribers has 2 empty entries
2019-12-03 15:41:43,089 - src.features.feature_class - DEBUG - Impute developer_data_closed_issues now
2019-12-03 15:41:43,091 - src.features.feature_class - DEBUG - developer_data_closed_issues has 2 empty entries
2019-12-03 15:41:43,107 - src.features.feature_class - DEBUG - Impute developer_data_pull_requests_merged now
2019-12-03 15:41:43,109 - src.features.feature_class - DEBUG - developer_data_pull_requests_merged has 2 empty entries
2019-12-03 15:41:43,126 - src.features.feature_class - DEBUG - Impute developer_data_total_issues now
2019-12-03 15:41:43,128 - src.features.feature_class - DEBUG - developer_data_total_issues has 2 empty entries
2019-12-03 15:41:43,141 - src.features.feature_class - DEBUG - Impute developer_data_commit_count_4_weeks now
2019-12-03 15:41:43,144 - src.features.feature_class - DEBUG - developer_data_commit_count_4_weeks has 2 empty entries
2019-12-03 15:41:43,160 - src.features.feature_class - DEBUG - Impute developer_data_pull_request_contributors now
2019-12-03 15:41:43,164 - src.features.feature_class - DEBUG - developer_data_pull_request_contributors has 2 empty entries
2019-12-03 15:41:43,182 - src.features.feature_class - DEBUG - Impute public_interest_stats_bing_matches now
2019-12-03 15:41:43,185 - src.features.feature_class - DEBUG - public_interest_stats_bing_matches has 4 empty entries
2019-12-03 15:41:43,200 - src.features.feature_class - DEBUG - Impute public_interest_stats_alexa_rank now
2019-12-03 15:41:43,203 - src.features.feature_class - DEBUG - public_interest_stats_alexa_rank has 4 empty entries
2019-12-03 15:41:43,215 - src.features.feature_class - DEBUG - Impute community_data_facebook_likes now
2019-12-03 15:41:43,219 - src.features.feature_class - DEBUG - community_data_facebook_likes has 4 empty entries
2019-12-03 15:41:43,230 - src.features.feature_class - DEBUG - Impute community_data_twitter_followers now
2019-12-03 15:41:43,232 - src.features.feature_class - DEBUG - community_data_twitter_followers has 4 empty entries
2019-12-03 15:41:43,248 - src.features.feature_class - DEBUG - Impute market_data_circulating_supply now
2019-12-03 15:41:43,249 - src.features.feature_class - DEBUG - market_data_circulating_supply has 47 empty entries
2019-12-03 15:41:43,265 - src.features.feature_class - DEBUG - Impute market_data_current_price_usd now
2019-12-03 15:41:43,267 - src.features.feature_class - DEBUG - market_data_current_price_usd has 48 empty entries
2019-12-03 15:41:43,280 - src.features.feature_class - DEBUG - Impute market_data_ath_usd now
2019-12-03 15:41:43,282 - src.features.feature_class - DEBUG - market_data_ath_usd has 48 empty entries
2019-12-03 15:41:43,297 - src.features.feature_class - DEBUG - Impute market_data_low_24h_usd now
2019-12-03 15:41:43,299 - src.features.feature_class - DEBUG - market_data_low_24h_usd has 166 empty entries
2019-12-03 15:41:43,312 - src.features.feature_class - DEBUG - Impute market_data_high_24h_usd now
2019-12-03 15:41:43,314 - src.features.feature_class - DEBUG - market_data_high_24h_usd has 166 empty entries
2019-12-03 15:41:43,328 - src.features.feature_class - DEBUG - Impute market_data_total_supply now
2019-12-03 15:41:43,332 - src.features.feature_class - DEBUG - market_data_total_supply has 574 empty entries

In [10]:
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer

In [11]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)
#imp.fit([[1, 2], [3, 6], [4, 8], [np.nan, 3], [7, np.nan]])

#X_test = [[np.nan, 2], [6, np.nan], [np.nan, 6], [np.nan, 3]]
# the model learns that the second feature is double the first
#print(np.round(imp.transform(X_test)))

In [12]:
fe.df_features

      OBS_ID success  transaction_count  holder_count       KW1           KW2
0     235691       0                NaN           NaN  0.006019  5.119072e-03
1     235692       1           975773.0      109840.0  0.316524  2.832672e-01
2     235693       0            22730.0       13914.0  0.002341  1.732933e-03
3     235694       0              125.0          51.0  0.000000  0.000000e+00
4     235695       0            16417.0        6250.0  0.000000  0.000000e+00
...      ...     ...                ...           ...       ...           ...
5753     997    TEST                NaN           NaN  0.056643  1.199070e+16
5754     998    TEST                NaN           NaN  0.000000  0.000000e+00
5755     999    TEST                NaN           NaN  0.000000  0.000000e+00
5756    1000    TEST            87780.0       70199.0  0.000871  7.760645e-04
5757    1001    TEST                NaN           NaN  0.000000  0.000000e+00

[5758 rows x 6 columns]

In [13]:
features = set(fe.df_features.columns) - set(['success', 'OBS_ID'])

In [14]:
features

{'KW1', 'KW2', 'holder_count', 'transaction_count'}

In [15]:
imp.fit(fe.df_features[features])

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, tol=0.001, verbose=0)

In [16]:
fe.df_features.iloc[1]

OBS_ID                 235692
success                     1
transaction_count      975773
holder_count           109840
KW1                  0.316524
KW2                  0.283267
Name: 1, dtype: object

In [17]:
fe.df_features

      OBS_ID success  transaction_count  holder_count       KW1           KW2
0     235691       0                NaN           NaN  0.006019  5.119072e-03
1     235692       1           975773.0      109840.0  0.316524  2.832672e-01
2     235693       0            22730.0       13914.0  0.002341  1.732933e-03
3     235694       0              125.0          51.0  0.000000  0.000000e+00
4     235695       0            16417.0        6250.0  0.000000  0.000000e+00
...      ...     ...                ...           ...       ...           ...
5753     997    TEST                NaN           NaN  0.056643  1.199070e+16
5754     998    TEST                NaN           NaN  0.000000  0.000000e+00
5755     999    TEST                NaN           NaN  0.000000  0.000000e+00
5756    1000    TEST            87780.0       70199.0  0.000871  7.760645e-04
5757    1001    TEST                NaN           NaN  0.000000  0.000000e+00

[5758 rows x 6 columns]

In [18]:
a = fe.df_features.loc[1, features].copy()

In [19]:
a

KW2                  0.283267
transaction_count      975773
holder_count           109840
KW1                  0.316524
Name: 1, dtype: object

In [20]:
a['transaction_count'] = np.nan

In [21]:
a

KW2                  0.283267
transaction_count         NaN
holder_count           109840
KW1                  0.316524
Name: 1, dtype: object

In [22]:
imp.transform([a])

array([[2.83267233e-01, 2.41415311e+05, 1.09840000e+05, 3.16523703e-01]])

In [23]:
np.power(10,4) * 4.55

45500.0

In [24]:
fe.df_features

      OBS_ID success  transaction_count  holder_count       KW1           KW2
0     235691       0                NaN           NaN  0.006019  5.119072e-03
1     235692       1           975773.0      109840.0  0.316524  2.832672e-01
2     235693       0            22730.0       13914.0  0.002341  1.732933e-03
3     235694       0              125.0          51.0  0.000000  0.000000e+00
4     235695       0            16417.0        6250.0  0.000000  0.000000e+00
...      ...     ...                ...           ...       ...           ...
5753     997    TEST                NaN           NaN  0.056643  1.199070e+16
5754     998    TEST                NaN           NaN  0.000000  0.000000e+00
5755     999    TEST                NaN           NaN  0.000000  0.000000e+00
5756    1000    TEST            87780.0       70199.0  0.000871  7.760645e-04
5757    1001    TEST                NaN           NaN  0.000000  0.000000e+00

[5758 rows x 6 columns]

In [25]:
fe.df_features.loc[fe.df_features['transaction_count'].isna()]

      OBS_ID success  transaction_count  holder_count       KW1           KW2
0     235691       0                NaN           NaN  0.006019  5.119072e-03
10    235701       0                NaN           NaN  0.641019  1.928755e-01
11    235702       0                NaN           NaN  0.000000  0.000000e+00
12    235703       1                NaN           NaN  0.003544  3.401632e-03
13    235704       0                NaN           NaN  0.001505  1.359151e-03
...      ...     ...                ...           ...       ...           ...
5751     995    TEST                NaN           NaN  0.010146  7.951662e-03
5753     997    TEST                NaN           NaN  0.056643  1.199070e+16
5754     998    TEST                NaN           NaN  0.000000  0.000000e+00
5755     999    TEST                NaN           NaN  0.000000  0.000000e+00
5757    1001    TEST                NaN           NaN  0.000000  0.000000e+00

[2695 rows x 6 columns]

In [63]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)

imp.fit(fe.df_features[features])
features = list(set(fe.df_features.columns) - set(['success', 'OBS_ID']))

for col in fe.to_impute:
    print(col)
    index_of_col = features.index(col)

    na_vals = fe.df_features.loc[fe.df_features[col].isna(), features]
    imputed = imp.transform(na_vals)
    fe.df_features.loc[fe.df_features[col].isna(), col] = imputed[:, index_of_col]

transaction_count
holder_count

In [65]:
fe.df_features.isna().sum()

OBS_ID               0
success              0
transaction_count    0
holder_count         0
KW1                  0
KW2                  0
dtype: int64

In [50]:
na_vals.shape

(2695, 4)

In [51]:
imputed.shape

(2695, 4)

In [54]:
fe.df_features.loc[fe.df_features[col].isna(), col]

(2695, 4)